<h2>Apartment Details</h2>

Address: <%= @apt.address %> <br /><br />
Monthly Rent: <%= @apt.monthly_rent %> <br />
Square Feet: <%= @apt.sqft %> <br />
Num_Beds: <%= @apt.num_beds %> <br />
Num_baths: <%= @apt.num_baths %> <br />


<a href="/">Home</a>
<a href="/apartments/<%= @apt.id %>/edit">Edit</a>
